/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

body {
    font-family: wf_segoe-ui_normal, helvetica, arial, sans-serif;
    color: black;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

html,
body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #3399FF;
    /* For at least Firefox */
    background-size: 100% auto;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.branding {
    min-width: 150px;
}

img {
    width: auto;
    height: auto;
}

.content-icon {
    width: 28px;
    height: 28px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

@media screen and (min-width: 1275px) and (min-height: 780px) {
    .modal .modal-dialog {
        width: 1235px;
        height: 745px;
        max-height: 745px;
    }
}

@media screen and (max-height: 600px) {
    .modal .modal-dialog {
        max-width: 400px;
        max-height: 280px;
    }
}

.modal .modal-dialog .modal-content .modal-header {
    background: #ccc;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    min-height: 25px;
    padding: 0 10px;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0;
}

.modal-header .close {
    margin-top: 0px;
}

header {
    background: #3399FF;
    padding: 160px 0 60px;
}

header h1 {
    margin-top: 0;
    font: 36px wf_segoe-ui_bold, helvetica, arial, sans-serif;
    line-height: 1.1;
    color: #000;
}

.condensed-header {
    padding: 100px 0 22px;
}

@media screen and (max-width: 450px) {
    .input-error {
        width: 100%;
        font-size: 11px;
    }
}


/*sign up form wrapper*/

.signup-form-wrapper {
    padding: 60px 0;
}

.signup-form-wrapper h2 {
    max-width: 530px;
    margin: auto;
}

.signup-form-wrapper .default-text {
    margin: 40px auto;
    max-width: 685px;
    font-size: 22px;
}

@media screen and (max-width: 450px) {
    .signup-form-wrapper input {
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .signup-form-wrapper button {
        font-size: 13px;
    }
}

.signup-form-wrapper .small-text {
    margin: 20px 0 0;
}

@media screen and (max-width: 1200px) {
    .signup-form-wrapper .large-text {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 768px) {
    .signup-form-wrapper .large-text {
        font-size: 30px;
    }
}

.button {
    border: none;
    font: 18px wf_segoe-ui_semibold, helvetica, arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-regular {
    padding-left: 20px;
    padding-right: 20px;
}

.button-small {
    padding: 6px 10px;
    font-size: 13px;
}

.button-yellow {
    background-color: #3399FF;
    border: 2px solid #3399FF;
    color: #000;
}

.button-yellow:hover {
    color: #000;
    text-decoration: none;
}

.button-black {
    background-color: #000;
    border: 2px solid #000;
    color: #3399FF;
}

.app-store-button,
.app-store-button-small {
    min-width: 190px;
    height: 54px;
    padding: 9px 0 0 50px;
    margin-right: 20px;
    color: white;
    font: 12px wf_segoe-ui_light, helvetica, arial, sans-serif;
    background: #000000 no-repeat 10px center;
    background-size: 30px 30px;
}

.app-store-button:hover *,
.app-store-button-small:hover * {
    text-decoration: none;
}

.app-store-button .store-text {
    font-size: 18px;
    line-height: 1;
}

.app-store-button-small {
    min-width: 160px;
    height: 40px;
    background-size: 24px 24px;
    font-size: 11px;
    padding: 4px 0 0 40px;
}

.app-store-button-small .store-text {
    font-size: 15px;
    line-height: 1;
}

.windows-store {
    background-image: url(//pbiwebprod.blob.core.windows.net/webassets/images/windows_store_icon.png);
}

.apple-store {
    background-image: url(//pbiwebprod.blob.core.windows.net/webassets/images/apple_store_icon.png);
}

.google-store {
    background-image: url(//pbiwebprod.blob.core.windows.net/webassets/images/google_store_icon.png);
}

.no-underline,
.no-underline:hover {
    text-decoration: none;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.pbi-spinner {
    background: url('//pbiwebprod.blob.core.windows.net/webassets/images/spinner.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: middle;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    width: 20px;
    height: 20px;
}

#hbl_region #habla_window_div {
    box-shadow: -1px -1px 4px rgba(50, 50, 50, 0.2) !important;
    border-radius: 5px 5px 0 0 !important;
    border: 1px solid #3399FF !important;
    border-bottom: none !important;
    background-color: #3399FF !important;
}

#hbl_region .hbl_pal_title_bg {
    background-color: #0066FF !important;
}

#hbl_region #habla_window_div #habla_oplink_a {
    color: #000 !important;
}

#hbl_region #habla_window_div #habla_sizebutton_a:hover {
    background-color: transparent !important;
}

#hbl_region input {
    padding: 4px 12px;
}


/*fonts*/


/*===========================================*/


/* line 83, ../sass/screen.scss */

body {
    font-family: wf_segoe-ui_normal;
    margin: 0px;
    overflow-x: hidden;
}


/*fonts*/

@font-face {
    font-family: wf_segoe-ui_normal;
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Regular-final.eot");
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Regular-final.ttf"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Regular-final.eot?#iefix") format("embedded-opentype"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/styles/SegoeUI/SegoeUI-Regular-final.woff") format("woff"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/styles/SegoeUI/SegoeUI-Regular-final.ttf") format("truetype");
    /* IE9 Compat Modes */
    /* Safari, Android, iOS */
}

@font-face {
    font-family: wf_segoe-ui_light;
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Light-final.eot");
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Light-final.ttf"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Light-final.eot?#iefix") format("embedded-opentype"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Light-final.woff") format("woff"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-Light-final.ttf") format("truetype");
    /* IE9 Compat Modes */
    /* Safari, Android, iOS */
}

@font-face {
    font-family: wf_segoe-ui_semilight;
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiLight-final.eot");
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiLight-final.ttf"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiLight-final.eot?#iefix") format("embedded-opentype"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiLight-final.woff") format("woff"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiLight-final.ttf") format("truetype");
    /* IE9 Compat Modes */
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'wf_segoe-ui_bold';
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot');
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot?#iefix') format('embedded-opentype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff') format('woff'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf') format('truetype'), url('//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: wf_segoe-ui_semibold;
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiBold-final.eot");
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiBold-final.ttf"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiBold-final.eot?#iefix") format("embedded-opentype"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiBold-final.woff") format("woff"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/SegoeUI/SegoeUI-SemiBold-final.ttf") format("truetype");
    /* IE9 Compat Modes */
    /* Safari, Android, iOS */
}

@font-face {
    font-family: din_normal;
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451.eot");
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451.ttf"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451.eot?#iefix") format("embedded-opentype"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451.woff") format("woff"), url("DIN/DIN1451.ttf") format("truetype");
    /* IE9 Compat Modes */
    /* Safari, Android, iOS */
}

@font-face {
    font-family: din_light;
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451B.eot");
    src: url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451B.ttf"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451B.eot?#iefix") format("embedded-opentype"), url("//pbiwebprod.blob.core.windows.net/webassets/fonts/DIN/DIN1451B.woff") format("woff"), url("DIN/DIN1451B.ttf") format("truetype");
    /* IE9 Compat Modes */
    /* Safari, Android, iOS */
}


/*Typography*/


/*===========================================*/

.din-bold {
    font: 24px din_normal, helvetica, arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

.din-regular {
    font: 15px din_normal, helvetica, arial, sans-serif;
    margin: 0;
}

.din-light {
    font: 16px din_light, helvetica, arial, sans-serif;
    margin: 0;
}

.subtitle-light {
    font: 16px wf_segoe-ui_light, helvetica, arial, sans-serif;
    padding: 10px 0;
    margin: 0;
}

.subtitle-bold {
    font: 22px wf_segoe-ui_bold, helvetica, arial, sans-serif;
    padding: 4px 0;
    margin: 0;
}

.default-text {
    font: 16px wf_segoe-ui_normal, helvetica, arial, sans-serif;
    line-height: 1.5;
}

.default-text-light {
    font: 16px wf_segoe-ui_light;
    line-height: 1.5;
}

.small-text-light,
.small-text-light a {
    font: 12px wf_segoe-ui_light, helvetica, arial, sans-serif;
}

.small-text {
    font: 12px wf_segoe-ui_normal, helvetica, arial, sans-serif;
}

.small-text-bold {
    font: 12px wf_segoe-ui_bold, helvetica, arial, sans-serif;
}

.large-text {
    font: 48px wf_segoe-ui_bold, helvetica, arial, sans-serif;
    line-height: 1.15;
    margin: 0;
}

.large-quote {
    font-size: 60px;
    line-height: 0;
}

.large-dash {
    font: 45px wf_segoe-ui_light, helvetica, arial, sans-serif;
}


/*Colors*/


/*===========================================*/

.black,
.black a {
    color: #000;
}

.dark-gray {
    color: #333;
}

.gray,
.gray a {
    color: #808285;
}

.white,
.white a {
    color: #fff;
}

.yellow {
    color: #3399FF;
}


/*Row Colors*/


/*===========================================*/

.wrapper-black {
    background-color: #000;
}

.wrapper-gray {
    background-color: #EFEFEF;
}

.wrapper-yellow {
    background-color: #3399FF;
}


/*shift-menu-wrapper*/

.shift-menu-wrapper {
    background: #000;
    height: auto;
    display: none;
}

.shift-menu-wrapper .container {
    position: relative;
    padding: 0;
}

.shift-menu-wrapper .marker {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 25%;
    left: 0%;
    -webkit-transition: left .7s;
    transition: left .7s;
}

#roles .shift-menu-wrapper .marker {
    width: 20%;
}

.shift-menu-wrapper .marker span {
    display: block;
    height: 3px;
    width: 93.75px;
    margin: 0 auto;
    background-color: #0066FF;
    -webkit-transition: width .7s;
    transition: width .7s;
}

#sales .shift-menu-wrapper .marker span {
    width: 72px;
}

#roles .shift-menu-wrapper .marker span {
    width: 128px;
}

.shift-menu-wrapper .menu-item {
    float: left;
    position: relative;
    height: 100px;
    width: 25%;
    margin: 0;
    color: #3399FF;
    cursor: pointer;
}

#roles .shift-menu-wrapper .menu-item {
    width: 20%;
}

.shift-menu-wrapper .menu-item .icon {
    display: block;
    width: 28px;
    height: 28px;
    margin: 20px auto 0;
    background-position: bottom center;
    background-size: 100% auto;
}

.shift-menu-wrapper .menu-item.active .icon {
    background-position: top center;
}

.shift-menu-wrapper .menu-item .marketing {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-marketing.png');
}

.shift-menu-wrapper .menu-item .sales {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-sales.png');
}

.shift-menu-wrapper .menu-item .customer-support {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-customer-support.png');
}

.shift-menu-wrapper .menu-item .decision-maker {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-decision-maker.png');
}

.shift-menu-wrapper .menu-item .monitor {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-monitor.png');
}

.shift-menu-wrapper .menu-item .analyze {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-analyze.png');
}

.shift-menu-wrapper .menu-item .combine {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-combine.png');
}

.shift-menu-wrapper .menu-item .mobile {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-mobile.png');
}

.shift-menu-wrapper .menu-item .business-user {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-business-user.png');
}

.shift-menu-wrapper .menu-item .business-analyst {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-business-analyst.png');
}

.shift-menu-wrapper .menu-item .bi-professional {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-bi-professional.png');
}

.shift-menu-wrapper .menu-item .developer {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-developer.png');
}

.shift-menu-wrapper .menu-item .partners {
    background-image: url('//pbiwebprod.blob.core.windows.net/webassets/images/sprite-partners.png');
}

.shift-menu-wrapper .menu-item .text {
    position: absolute;
    height: 30px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.shift-menu-wrapper .menu-item .text span {
    display: inline-block;
    height: 100%;
    font-size: 15px;
    letter-spacing: .15em;
    line-height: 100%;
    vertical-align: top;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .shift-menu-wrapper .marker {
        display: none;
    }
    .shift-menu-wrapper .menu-item .text {
        display: none;
    }
    .shift-menu-wrapper .menu-item {
        height: auto;
    }
    .shift-menu-wrapper .menu-item .icon {
        margin: 20px auto;
    }
}


/*shift-content-wrapper*/

.shift-content-wrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
}

#sales .shift-content-wrapper {
    border-bottom: 2px solid #E1E2E3;
}

.shift-content-wrapper .container {
    padding-top: 40px;
    top: 40px;
    left: 0;
    right: 0;
    -webkit-transition: top .7s;
    transition: top .7s;
}

.shift-content-wrapper .content-item {
    display: block;
    padding-bottom: 40px;
}

.shift-content-wrapper .content-item h2 {
    display: none;
}

@media screen and (max-width: 768px) {
    .shift-content-wrapper .content-item h2 {
        display: block;
        margin-bottom: 20px;
    }
}

.shift-content-wrapper .content-item .screenshot {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .shift-content-wrapper .content-item .screenshot {
        max-width: 450px;
        margin: 30px auto;
    }
}

.shift-content-wrapper .content-item button {
    display: block;
    width: 100%;
    font-size: 18px;
    background-color: #3399FF;
    margin: 30px auto 60px;
    padding-bottom: 6px;
    line-height: 1.5;
    border: none;
}

.shift-content-wrapper .content-item article {
    margin-bottom: 40px;
}

.shift-content-wrapper .content-item article:last-child {
    margin-bottom: 0px;
}

.shift-content-wrapper .content-item h3 {
    margin: 12px 0 8px;
}

.shift-content-wrapper .content-item p,
.shift-content-wrapper .content-item li {
    color: #666;
}

.shift-content-wrapper .content-item a {
    color: #000;
    text-decoration: underline;
}

.shift-content-wrapper .content-item a:hover {
    color: #3399FF;
}

.shift-content-wrapper .content-item ul {
    padding-left: 15px;
}

.shift-content-wrapper .content-item ul li {
    padding-bottom: 8px;
}

.shift-content-wrapper .content-item ul li strong {
    font-family: wf_segoe-ui_bold, helvetica, arial, sans-serif;
}


/*===========================================*/

.navigation-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
}

.navigation-wrapper .branding {
    display: block;
    float: left;
    padding-top: 32px;
}

.navigation-wrapper .branding a,
.branding a:focus {
    display: block;
    text-decoration: none;
}

.navigation-wrapper .branding .logo,
.branding .logo {
    width: 34px;
    height: 34px;
}

.navigation-wrapper .branding .text,
.branding .text {
    height: 22px;
    margin-left: 12px;
}

#solutions .nav .solutions,
#mobile .nav .mobile,
#pricing .nav .pricing,
#support .nav .support,
#downloads .nav .downloads {
    border-top: 2px solid #000;
    padding-top: 26px;
}

@media screen and (max-width: 9292px) {
    #solutions .solutions,
    #mobile .mobile,
    #pricing .pricing,
    #support .support {
        border-top: 1px solid #3399FF;
        padding-top: 0;
    }
}

.navbar-default {
    background: none;
    border: none;
    z-index: 10;
}

.navbar-default .navbar-header .navbar-toggle {
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 28px 6px 10px;
    padding: 12px 14px;
    border: 2px solid black;
    color: #000;
}

.navbar-default .navbar-header .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-header .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background: #000;
}

.navbar-default .navbar-collapse {
    padding: 0;
}

@media screen and (max-width: 800px) {
    .navbar-default .navbar-collapse {
        box-shadow: 0px 8px 15px -8px #000000;
    }
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.navbar-default .navbar-nav {
    float: right;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav {
        background: #3399FF;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #3399FF;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    padding: 6px 0px;
    font: 16px wf_segoe-ui_semibold, helvetica, arial, sans-serif;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0;
        display: block;
    }
}

.navbar-default .navbar-nav > li > .menu-btn {
    padding: 6px 24px;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav > li > .menu-btn {
        display: inline;
    }
}

.navbar-default .navbar-nav .menu-item {
    margin: 0 16px;
    padding-top: 28px;
    font: 16px wf_segoe-ui_normal, helvetica, arial, sans-serif;
    line-height: 36px;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav .menu-item {
        display: block;
        border-top: 1px solid #3399FF;
        padding: 0;
        margin: 0;
    }
}

.navbar-default .navbar-nav .menu-item a {
    cursor: pointer;
    border: 2px solid transparent;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav .menu-item a {
        display: inline-block;
        padding: 15px;
        width: 100%;
        border: none;
    }
}

.navbar-default .navbar-nav .menu-item .menu-btn {
    border: 2px solid #000;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav .menu-item .menu-btn {
        width: auto;
        margin: 15px;
        padding: 6px 15px;
    }
}

.navbar-default .navbar-nav .menu-item .menu-btn:hover {
    background: #000;
    color: #3399FF;
}


/*===========================================*/

.landing-navigation-wrapper {
    position: absolute;
    width: 100%;
    top: 20px;
}

.landing-navigation-wrapper .powerbi-wrapper,
.landing-navigation-wrapper .microsoft-wrapper {
    float: left;
    margin-bottom: 20px;
    width: 50%;
    min-width: 160px;
}

@media screen and (max-width: 350px) {
    .landing-navigation-wrapper .microsoft-wrapper {
        display: none;
    }
}

.landing-navigation-wrapper .microsoft-wrapper .branding {
    float: right;
}

.landing-navigation-wrapper .microsoft-wrapper .branding a,
.landing-navigation-wrapper .microsoft-wrapper .branding a:focus,
.landing-navigation-wrapper .microsoft-wrapper .branding a:active {
    text-decoration: none;
}

.landing-navigation-wrapper .gray-bar {
    margin: 0;
}

footer {
    padding: 60px 0;
}

footer .small-text {
    margin: 0 0 20px;
    line-height: 1.5;
}

footer .small-text-bold {
    font-size: 15px;
    margin: 0 0 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer .button {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
}

footer img.logo.microsoft {
    width: 28px;
    height: 28px;
}

footer img.text.microsoft {
    width: auto;
    height: 20px;
    margin-left: 10px;
}

footer .disclaimer-text {
    font-size: 11px;
}

@media screen and (max-width: 992px) {
    footer .downloads {
        margin: 40px 0;
    }
}

footer .downloads > div,
footer .legal-info > div {
    padding: 0;
}

footer .downloads .text {
    padding-right: 40px;
}

@media screen and (max-width: 992px) {
    footer .downloads .links {
        padding: 0;
    }
}

.gray-bar {
    height: 1px;
    width: 100%;
    background: #E1E2E3;
    margin: 30px 0 30px 0;
}

.social-icon,
.social-icon:visited {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin-right: 20px;
    color: #333;
}

.social-icon:hover {
    color: #000;
}

@media screen and (max-width: 768px) {
    .social-icon {
        margin-top: 20px;
    }
}

.small-text-padded {
    padding-top: 20px;
    padding-left: 2px;
}

.padded-for-image {
    padding-left: 36px;
}

.download-icon {
    float: left;
    width: 20px;
    height: auto;
    margin: 5px 15px 10px 0;
}

.black-link {
    font: 14px din_normal;
    letter-spacing: .05em;
    color: black;
    cursor: pointer;
    margin: 10px 0;
}

footer .black-link {
    text-transform: uppercase;
}


/*connect-wrapper*/

.connect-wrapper {
    padding: 60px 0;
}

.connect-wrapper p {
    margin: 40px auto;
    padding-left: 2px;
    max-width: 645px;
}

.connect-wrapper .connect-icons {
    text-align: center;
    font-size: 0;
}

.connect-wrapper .connect-icons.featured {
    text-align: center;
    font-size: 0;
    margin: 30px 0 20px;
}

.connect-wrapper .connect-icons .icon-box {
    width: 20%;
    min-width: 140px;
    display: inline-block;
    min-height: 150px;
}

.connect-wrapper .connect-icons .icon-box img {
    width: 90px;
    display: block;
    margin: auto;
}

.connect-icon-subtext {
    font: 14px wf_segoe-ui_light;
    color: #333333;
    text-align: center;
    margin-bottom: 5px;
}


/*steps-wrapper*/

.steps-wrapper {
    padding: 80px 0 100px;
}

.steps-wrapper article img {
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .steps-wrapper article img {
        height: 175px;
    }
}

.steps-wrapper article h4 {
    letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
    .steps-wrapper article {
        margin-bottom: 40px;
    }
    .steps-wrapper article:last-child {
        margin-bottom: 0;
    }
}


/*apps wrapper*/

.apps-wrapper {
    padding: 100px 0;
}

@media screen and (max-width: 768px) {
    .apps-wrapper article {
        margin-bottom: 60px;
    }
}

.apps-wrapper article > img {
    height: 45px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .apps-wrapper h3 {
        min-height: 68px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .apps-wrapper h3 {
        min-height: 98px;
    }
}

.apps-wrapper article h4 {
    letter-spacing: .1em;
}

@media screen and (min-width: 1200px) {
    .apps-wrapper p {
        min-height: 120px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .apps-wrapper p {
        min-height: 144px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .apps-wrapper p {
        min-height: 192px;
    }
}

.apps-wrapper a {
    display: inline-block;
    margin-top: 20px;
}

.apps-wrapper a.button {
    border: 2px solid #000;
    background: none;
    color: #000;
    padding: 6px 20px;
}

.apps-wrapper a.button:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}


/*hide global navigation branding to show home page dynamic braning*/

#home .navigation-wrapper .branding {
    display: none;
}

#home header.before {
    background-color: #EFEFEF;
}

#home header {
    position: relative;
    height: 100%;
    min-height: 740px;
    -webkit-transition: background-color 3s ease;
    transition: background-color 3s ease;
}

@media screen and (max-width: 992px) {
    #home header {
        min-height: 980px;
    }
}

@media screen and (max-width: 600px) {
    #home header {
        min-height: 900px;
    }
}

#home header.before .slide-up {
    height: 60px;
}

#home header .slide-up {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    -webkit-transition: height 3s ease;
    transition: height 3s ease;
    z-index: 0;
}

@media screen and (min-width: 992px) {
    #home header.before .scroll-tease {
        height: 0px;
    }
    #home header .scroll-tease {
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 0;
        background: #fff;
        -webkit-transition: height 1s ease 2.3s;
        transition: height 1s ease 2.3s;
        z-index: 0;
    }
}

#home header .container {
    position: relative;
    margin-top: -160px;
    padding-top: 160px;
    height: 100%;
}

#home header .branding {
    position: absolute;
    top: 32px;
}


/*microsoft logo visible on page load*/

#home header .branding img.logo.microsoft {
    width: 28px;
    height: 28px;
}

#home header .branding img.text.microsoft {
    margin-left: 40px;
    margin-top: 5px;
}

#home header.before .branding img.microsoft {
    top: 0;
}

#home header .branding img.microsoft {
    position: absolute;
    top: -120px;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
}


/*powerbi logo moves into place durring transition*/

#home header.before .branding img.text.powerbi {
    opacity: 0;
}

#home header .branding img.text.powerbi {
    opacity: 1;
    -webkit-transition: opacity 1s ease .5s;
    transition: opacity 1s ease .5s;
}

#home header.before .branding img.logo.powerbi {
    opacity: 0;
}

#home header .branding img.logo.powerbi {
    position: relative;
    left: 0;
    top: 0;
}

#home header .header-content-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: auto;
    margin: auto;
    padding: 0 15px;
}

@media screen and (max-width: 992px) {
    #home header.before .header-content-wrapper {
        top: 50%;
    }
    #home header .header-content-wrapper {
        top: calc(50% - 50px);
        -webkit-transition: top 1.2s ease;
        transition: top 1.2s ease;
    }
}

@media screen and (max-width: 992px) and (max-height: 1024px) {
    #home header.before .header-content-wrapper {
        top: calc(50% - 100px);
        margin-top: 0 !important;
    }
    #home header .header-content-wrapper {
        top: calc(50% - 180px);
        margin-top: 0 !important;
    }
}


/*tablet image transition*/

#home header .tablet-image-container {
    position: relative;
    padding-bottom: 115%;
    width: 175%;
    margin-left: -30px;
}

@media screen and (max-width: 1800px) {
    #home header .tablet-image-container {
        width: 160%;
        padding-bottom: 100%;
    }
}

@media screen and (max-width: 1700px) {
    #home header .tablet-image-container {
        width: 150%;
        padding-bottom: 100%;
    }
}

@media screen and (max-width: 1600px) {
    #home header .tablet-image-container {
        width: 140%;
        padding-bottom: 70%;
        margin-left: 0;
    }
}

@media screen and (max-width: 1465px) {
    #home header .tablet-image-container {
        width: 130%;
        padding-bottom: 70%;
    }
}

@media screen and (max-width: 1345px) {
    #home header .tablet-image-container {
        width: 115%;
        padding-bottom: 70%;
    }
}

@media screen and (max-width: 1200px) {
    #home header .tablet-image-container {
        width: 100%;
        padding-bottom: 70%;
    }
}

@media screen and (max-width: 992px) {
    #home header.before .tablet-image-container {
        top: -110px;
    }
    #home header .tablet-image-container {
        top: 0;
        -webkit-transition: top 1.2s ease;
        transition: top 1.2s ease;
    }
}

@media screen and (max-width: 600px) {
    #home header.before .tablet-image-container {
        top: -200px;
    }
    #home header .tablet-image-container {
        top: 0;
        -webkit-transition: top 1.2s ease;
        transition: top 1.2s ease;
    }
}

#home header .tablet-image {
    height: 0;
    width: 100%;
    padding-bottom: 70%;
    position: absolute;
    top: 0;
    left: 0;
}

#home header .tablet-image.spreadsheet {
    background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_1.png);
    background-position: top right;
    background-size: contain;
}

@media screen and (max-width: 1700px) {
    #home header .tablet-image.spreadsheet {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_1-900w.png);
        background-position: top right;
        background-size: contain;
    }
}

@media screen and (max-width: 1345px) and (min-width: 992px) {
    #home header .tablet-image.spreadsheet {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_1-700w.png);
        background-position: top right;
        background-size: contain;
    }
}

@media screen and (max-width: 500px) {
    #home header .tablet-image.spreadsheet {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_1-500w.png);
        background-position: top right;
        background-size: contain;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1700px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1700px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1700px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1700px),
only screen and (min-resolution: 192dpi) and (max-width: 1700px),
only screen and (min-resolution: 2dppx) and (max-width: 1700px) {
    #home header .tablet-image.spreadsheet {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_1.png);
        background-position: top right;
        background-size: contain;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 500px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 500px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 500px),
only screen and (min-resolution: 192dpi) and (max-width: 500px),
only screen and (min-resolution: 2dppx) and (max-width: 500px) {
    #home header .tablet-image.spreadsheet {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_1-900w.png);
        background-position: top right;
        background-size: contain;
    }
}

#home header.before .tablet-image.dashboard {
    opacity: 0;
}

#home header .tablet-image.dashboard {
    background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_2.png);
    background-position: top right;
    background-size: contain;
    opacity: 1;
    -webkit-transition: opacity 2s ease 1s;
    transition: opacity 2s ease 1s;
}

@media screen and (max-width: 1700px) {
    #home header .tablet-image.dashboard {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_2-900w.png);
        background-position: top right;
        background-size: contain;
    }
}

@media screen and (max-width: 1345px) and (min-width: 992px) {
    #home header .tablet-image.dashboard {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_2-700w.png);
        background-position: top right;
        background-size: contain;
    }
}

@media screen and (max-width: 500px) {
    #home header .tablet-image.dashboard {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_2-500w.png);
        background-position: top right;
        background-size: contain;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1700px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1700px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1700px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1700px),
only screen and (min-resolution: 192dpi) and (max-width: 1700px),
only screen and (min-resolution: 2dppx) and (max-width: 1700px) {
    #home header .tablet-image.dashboard {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_2.png);
        background-position: top right;
        background-size: contain;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 500px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 500px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 500px),
only screen and (min-resolution: 192dpi) and (max-width: 500px),
only screen and (min-resolution: 2dppx) and (max-width: 500px) {
    #home header .tablet-image.dashboard {
        background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/Homepage_metal_large_2-900w.png);
        background-position: top right;
        background-size: contain;
    }
}


/*content-text transition*/

@media screen and (min-width: 992px) {
    #home header.before .content-text h1 {
        margin-top: 100px;
    }
}

#home header .content-text h1 {
    font: 72px wf_segoe-ui_bold;
    color: black;
    line-height: 1.1;
    margin-top: 5%;
    margin-bottom: 20px;
    -webkit-transition: margin-top 1.5s ease;
    transition: margin-top 1.5s ease;
}

@media screen and (max-width: 1480px) {
    #home header .content-text h1 {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 992px) {
    #home header .content-text h1 {
        margin-top: 0;
        font-size: 6.1vw;
    }
}

@media screen and (max-width: 830px) {
    #home header .content-text h1 {
        font-size: 7.5vw;
    }
}

@media screen and (max-width: 600px) {
    #home header .content-text h1 {
        font-size: 9.5vw;
    }
}

#home header.before .trans-headline-text {
    color: #3399FF;
}

#home header .trans-headline-text {
    color: #FFFFFF;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}

#home header .sub-content {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    #home header .sub-content {
        width: 100%;
    }
}

#home header.before .trans-paragraph-text {
    color: transparent;
}

#home header .trans-paragraph-text {
    font: 22px wf_segoe-ui_normal;
    line-height: 1.4em;
    color: #000;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
}

@media screen and (max-width: 1800px) {
    #home header .trans-paragraph-text {
        font: 18px wf_segoe-ui_normal;
    }
}

@media screen and (max-width: 1200px) {
    #home header .trans-paragraph-text {
        font: 16px wf_segoe-ui_normal;
    }
}

@media screen and (max-width: 600px) {
    #home header .trans-paragraph-text {
        font: 14px wf_segoe-ui_normal;
    }
}

#home header.before div.trans-form input,
#home header.before div.trans-form button {
    background: none;
    border: 2px solid transparent;
    color: transparent;
}

#home header.before div.trans-form::-webkit-input-placeholder {
    color: transparent;
}

#home header div.trans-form::-webkit-input-placeholder {
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    #home header div input,
    #home header div button {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    #home header div input,
    #home header div button {
        font-size: 13px;
    }
}

#home header div.trans-form input {
    border: 2px solid #3399FF;
    -webkit-transition: background 2s ease, border 2s ease, color 2s ease;
    transition: background 2s ease, border 2s ease, color 2s ease;
}

@media screen and (max-width: 400px) {
    #home header div.trans-form input {
        width: 56%;
    }
}

#home header div.trans-form button {
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    background: none;
    width: 30%;
    height: auto;
    -webkit-transition: background 2s ease, border 2s ease, color 2s ease;
    transition: background 2s ease, border 2s ease, color 2s ease;
}

#home header div.trans-form button.no-trans {
    -webkit-transition: background 0s, color 0s;
    transition: background 0s, color 0s;
}

#home header div.trans-form button:hover {
    background: #000;
    color: #fff;
}

@media screen and (max-width: 400px) {
    #home header div.trans-form button {
        width: 40%;
    }
}

#home header.before div.trans-form .disclaimer-text,
#home header.before div.trans-form .disclaimer-text a {
    color: transparent;
}

#home header div.trans-form .disclaimer-text,
#home header div.trans-form .disclaimer-text a {
    color: #000;
    font-size: 11px;
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
    opacity: .7;
}


/*learn more wrapper*/

.learn-more-wrapper {
    background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/row_bckgrnd_image.png);
    background-size: cover;
    background-position: top center;
    width: 100%;
    padding: 100px 0 120px;
}

.learn-more-wrapper article {
    margin-bottom: 40px;
}

.learn-more-wrapper article:last-child {
    margin-bottom: 0px;
}

.learn-more-wrapper article img {
    margin-bottom: 12px;
}

.learn-more-wrapper article img.box {
    height: auto;
}

.learn-more-wrapper article h3 {
    margin: 12px 0;
}

.learn-more-wrapper .button {
    margin: 50px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.learn-more-wrapper .button span {
    background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/icon-play-symbol.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 100%;
    padding-right: 30px;
}

@media screen and (max-width: 992px) {
    .learn-more-wrapper article {
        width: 30%;
        float: left;
        margin: 0 1.5%;
    }
}

@media screen and (max-width: 768px) {
    .learn-more-wrapper .large-text {
        font-size: 6vw;
    }
    .learn-more-wrapper article {
        width: 100%;
        float: none;
        margin-bottom: 40px;
    }
    .learn-more-wrapper article:last-child {
        margin-bottom: 0px;
    }
}


/*quote wrapper*/

.quote-wrapper {
    padding: 50px 0 45px 0;
}

.quote-wrapper .large-text {
    font: 38px wf_segoe-ui_bold;
    width: 85%;
    margin: 0 auto;
    line-height: 1.25;
}

.quote-wrapper p {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .quote-wrapper .large-text {
        font-size: 5vw;
    }
}


/*sign up text wrapper*/

.signup-text-wrapper {
    padding: 80px 0;
}

.signup-text-wrapper .text-center .default-text {
    max-width: 340px;
    margin: 6px auto;
    font-size: 20px;
}

.signup-text-wrapper h2 {
    font-size: 72px;
}

.signup-text-wrapper p {
    font-size: 22px;
}

.signup-text-wrapper aside p {
    margin: 10px 0;
}

.signup-text-wrapper article p {
    margin: 10px 0 20px;
}

@media screen and (max-width: 768px) {
    .signup-text-wrapper .text-center .default-text {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 992px) {
    .signup-text-wrapper article .default-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .signup-text-wrapper article .email-form input {
        width: 56%;
    }
}

@media screen and (max-width: 600px) {
    .signup-text-wrapper article .email-form input,
    .signup-text-wrapper article .email-form button {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .signup-text-wrapper article .email-form button {
        width: 40%;
    }
}


/*Mobile Page Wrapper Style*/


/*===========================================*/

#mobile header .buttons-wrapper {
    margin-top: 40px;
}

#mobile header .buttons-wrapper a {
    margin-bottom: 20px;
    display: inline-block;
}

#mobile header .buttons-wrapper a:last-child {
    margin-bottom: 0;
}


/*mobile-screenshot-wrapper*/

.mobile-screenshot-wrapper > div {
    padding: 0;
}

.mobile-screenshot-wrapper .banner {
    clear: both;
    background-color: #000;
    color: #fff;
}

.mobile-screenshot-wrapper .banner-top {
    padding: 30px 0 20px;
}

@media screen and (max-width: 768px) {
    .mobile-screenshot-wrapper .banner-top {
        display: none;
    }
}

.mobile-screenshot-wrapper .banner-top h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
}

.mobile-screenshot-wrapper .banner-top .form input {
    border: 2px solid #fff;
    background: none;
    color: #fff;
}

.mobile-screenshot-wrapper .banner-top .form button {
    width: 30%;
}

.mobile-screenshot-wrapper .banner-top .form .disclaimer-text {
    margin-bottom: 0;
    font-size: 13px;
}

.mobile-screenshot-wrapper .banner-top .form .pbi-spinner {
    position: absolute;
    display: none;
    top: 16px;
    left: 344px;
}

.mobile-screenshot-wrapper .banner-top .form .pbi-spinner.show {
    display: block;
}

@media screen and (max-width: 992px) {
    .mobile-screenshot-wrapper .banner-top .form .pbi-spinner {
        left: 214px;
    }
}

@media screen and (max-width: 1199px) {
    .mobile-screenshot-wrapper .banner-top .form .pbi-spinner {
        left: 278px;
    }
}

.mobile-form-success-message {
    font: 16px "wf_segoe-ui_semibold", helvetica, arial, sans-serif;
    display: none;
    margin-right: 30px;
}

.mobile-form-success-message span,
.mobile-form-success-message .email-submitted {
    font-family: "wf_segoe-ui_light", helvetica, arial, sans-serif;
}

.mobile-form-success .mobile-form-success-message {
    display: inline-block;
}

.mobile-form-success input,
.mobile-form-success .disclaimer-text,
.mobile-form-success .input-error {
    display: none !important;
}

.mobile-form-success .button {
    vertical-align: top;
}

@media screen and (max-width: 1199px) {
    .mobile-form-success .button {
        margin-top: 10px;
    }
}

.mobile-screenshot-wrapper .screenshot-1,
.mobile-screenshot-wrapper .screenshot-2 {
    height: 0px;
    padding-bottom: 65%;
}

.mobile-screenshot-wrapper .screenshot-1 {
    background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/iPhone-6-Designer-Desk.jpg');
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 2000px) {
    .mobile-screenshot-wrapper .screenshot-1 {
        background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/iPhone-6-Designer-Desk-1000w.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-screenshot-wrapper .screenshot-1 {
        background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/iPhone-6-Designer-Desk-500w.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (max-width: 500px) {
    .mobile-screenshot-wrapper .screenshot-1 {
        background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/iPhone-6-Designer-Desk-250w.jpg');
        background-size: cover;
        background-position: center center;
    }
}

.mobile-screenshot-wrapper .screenshot-2 {
    background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/WindowsApp.jpg');
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 2000px) {
    .mobile-screenshot-wrapper .screenshot-2 {
        background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/WindowsApp-1000w.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-screenshot-wrapper .screenshot-2 {
        background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/WindowsApp-500w.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (max-width: 500px) {
    .mobile-screenshot-wrapper .screenshot-2 {
        background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/WindowsApp-250w.jpg');
        background-size: cover;
        background-position: center center;
    }
}

.mobile-screenshot-wrapper .banner-bottom {
    padding: 20px 0;
    text-align: center;
}

.mobile-screenshot-wrapper .banner-bottom p {
    font-size: 22px;
    line-height: 1;
    margin: 0;
    padding-bottom: 3px;
}

.mobile-screenshot-wrapper .banner-bottom i {
    font-size: 30px;
}


/*mobile-content-wrapper*/

.mobile-content-wrapper {
    padding: 40px 0;
    display: block;
    height: auto;
}

@media screen and (max-width: 768px) {
    .mobile-content-wrapper article {
        margin-bottom: 40px;
    }
}

.mobile-content-wrapper .content-icon {
    margin-bottom: 25px;
}

.newsletter-content-wrapper,
.newsletter-content-wrapper iframe {
    min-height: 700px;
}

@media screen and (max-width: 683px) {
    .newsletter-content-wrapper,
    .newsletter-content-wrapper iframe {
        min-height: 800px;
    }
}

@media screen and (max-width: 594px) {
    .newsletter-content-wrapper,
    .newsletter-content-wrapper iframe {
        min-height: 900px;
    }
}

@media screen and (max-width: 454px) {
    .newsletter-content-wrapper,
    .newsletter-content-wrapper iframe {
        min-height: 1000px;
    }
}

@media screen and (max-width: 354px) {
    .newsletter-content-wrapper,
    .newsletter-content-wrapper iframe {
        min-height: 1100px;
    }
}

.designer-screenshot-wrapper > div {
    padding: 0;
}

.designer-screenshot-wrapper .screenshot {
    width: 100%;
    height: 0;
    padding-bottom: 36%;
    background-image: url('https://pbiwebprod.blob.core.windows.net/webassets/images/thinkpad-angled-right.jpg');
    background-size: cover;
    background-position: center center;
}

.designer-screenshot-wrapper .banner {
    clear: both;
    background-color: #000;
    color: #fff;
}

.designer-screenshot-wrapper .banner-top {
    padding: 40px 0;
    text-align: left;
}

.designer-screenshot-wrapper .banner-top h2 {
    line-height: 1.2;
}

.designer-screenshot-wrapper .banner-top .buttons-wrapper {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .designer-screenshot-wrapper .banner-top .buttons-wrapper {
        margin-top: 20px;
        text-align: left;
    }
}

.designer-screenshot-wrapper .banner-top .buttons-wrapper a {
    display: inline-block;
    margin: 0 0 0 20px;
}

@media screen and (max-width: 768px) {
    .designer-screenshot-wrapper .banner-top .buttons-wrapper a {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 450px) {
    .designer-screenshot-wrapper .banner-top .buttons-wrapper a {
        margin: 10px 20px 10px 0;
    }
}

.designer-screenshot-wrapper .banner-top .button {
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .designer-screenshot-wrapper .banner-top .button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 450px) {
    .designer-screenshot-wrapper .banner-top .button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.designer-content-wrapper {
    padding: 40px 0;
    display: block;
    height: auto;
}

@media screen and (max-width: 768px) {
    .designer-content-wrapper article {
        margin-bottom: 40px;
    }
}

.designer-content-wrapper .content-icon {
    margin-bottom: 25px;
}


/*Solutions Page Wrapper Styles >>> */


/*===========================================*/


/*Pricing Page Wrapper Style*/


/*===========================================*/

#pricing header button {
    margin-top: 30px;
}


/*pricing-content-wrapper*/

.pricing-content-wrapper {
    padding: 30px 0 60px;
}

.pricing-content-wrapper .column-head h2 {
    text-align: center;
    font-size: 20px;
    line-height: 1;
}

.pricing-content-wrapper .column-head h2 span {
    font-size: 12px;
}

.pricing-content-wrapper .column-head > span {
    display: block;
    text-align: center;
    font-size: 12px;
}

.pricing-content-wrapper .table > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.pricing-content-wrapper .free,
.pricing-content-wrapper .pro {
    width: 20%;
    text-align: center;
}

.pricing-content-wrapper .free {
    background-color: #FAFAFA;
}

.pricing-content-wrapper .pro {
    background-color: #F3F3F3;
}

.pricing-content-wrapper ul {
    padding-left: 15px;
    margin-top: 20px;
}

.terms-wrapper {
    padding: 30px 0;
}

.terms-wrapper div > ol {
    padding: 15px;
}

.terms-wrapper ol {
    counter-reset: section;
    list-style-type: none;
}

.terms-wrapper ol li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.terms-wrapper ol li:before {
    counter-increment: section;
    content: counters(section, ".") ". ";
}

.terms-wrapper p,
.terms-wrapper li {
    margin: 1em 0;
}

#twilio .navigation-wrapper,
#quickbooks .navigation-wrapper {
    display: none;
}

.integration-content {
    text-align: center;
}

.integration-content .logo {
    width: 90%;
    height: auto;
    margin: 30px 0 50px;
}

.integration-content h2 {
    margin-bottom: 20px;
}

.integration-content .default-text {
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    .integration-content .default-text {
        font-size: 16px;
    }
}

.integration-content .email-form {
    margin-top: 40px;
}

@media screen and (max-width: 500px) {
    .integration-content .email-form input {
        width: 56%;
    }
}

@media screen and (max-width: 600px) {
    .integration-content .email-form input,
    .integration-content .email-form button {
        font-size: 13px;
    }
}

.integration-content .email-form button {
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    background: none;
    width: 30%;
    height: auto;
}

.integration-content .email-form button:hover {
    background: #000;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .integration-content .email-form button {
        width: 40%;
    }
}

#twilio .integration-content .logo {
    max-width: 355px;
}

@media screen and (max-width: 600px) {
    #twilio .integration-content h2 {
        font-size: 8vw;
    }
}

#twilio .learn-more-wrapper h2 {
    margin-bottom: 60px;
}

#quickbooks .integration-content .logo {
    max-width: 300px;
}

#quickbooks .integration-content h2 {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    #quickbooks .integration-content h2 {
        font-size: 8vw;
    }
}

#quickbooks .learn-more-wrapper h2 {
    margin-bottom: 60px;
}

#sales .navigation-wrapper,
#signin .navigation-wrapper {
    display: none;
}

.landing-header {
    padding-top: 80px;
    background-color: #EFEFEF;
}

#sales header {
    min-height: 740px;
}

@media screen and (max-width: 992px) {
    #sales header {
        min-height: 980px;
    }
}

@media screen and (max-width: 600px) {
    #sales header {
        min-height: 900px;
    }
}

#sales header .container {
    padding-top: 60px;
}


/*tablet image transition*/

#sales header .tablet-image-container {
    position: relative;
    padding-bottom: 115%;
    width: 175%;
    margin-left: -30px;
}

@media screen and (max-width: 1800px) {
    #sales header .tablet-image-container {
        width: 160%;
        padding-bottom: 100%;
    }
}

@media screen and (max-width: 1700px) {
    #sales header .tablet-image-container {
        width: 150%;
        padding-bottom: 100%;
    }
}

@media screen and (max-width: 1600px) {
    #sales header .tablet-image-container {
        width: 140%;
        padding-bottom: 70%;
        margin-left: 0;
    }
}

@media screen and (max-width: 1465px) {
    #sales header .tablet-image-container {
        width: 130%;
        padding-bottom: 70%;
    }
}

@media screen and (max-width: 1345px) {
    #sales header .tablet-image-container {
        width: 115%;
        padding-bottom: 70%;
    }
}

@media screen and (max-width: 1200px) {
    #sales header .tablet-image-container {
        width: 100%;
        padding-bottom: 70%;
    }
}

@media screen and (max-width: 992px) {
    #sales header.before .tablet-image-container {
        top: -110px;
    }
    #sales header .tablet-image-container {
        top: 0;
        -webkit-transition: top 1.2s ease;
        transition: top 1.2s ease;
    }
}

@media screen and (max-width: 600px) {
    #sales header.before .tablet-image-container {
        top: -200px;
    }
    #sales header .tablet-image-container {
        top: 0;
        -webkit-transition: top 1.2s ease;
        transition: top 1.2s ease;
    }
}

#sales header .tablet-image {
    height: 0;
    width: 100%;
    padding-bottom: 70%;
    position: absolute;
    top: 0;
    left: 0;
}

#sales header .tablet-image.dashboard {
    background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/salespage_header_laptop_dashboard.png);
    background-position: top right;
    background-size: contain;
    opacity: 1;
}


/*content-text transition*/

#sales header .content-text h1 {
    font: 72px wf_segoe-ui_bold;
    color: black;
    line-height: 1.1;
    margin-top: 5%;
    margin-bottom: 20px;
}

@media screen and (max-width: 1480px) {
    #sales header .content-text h1 {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 992px) {
    #sales header .content-text h1 {
        margin-top: 0;
        font-size: 6.1vw;
    }
}

@media screen and (max-width: 830px) {
    #sales header .content-text h1 {
        font-size: 7.5vw;
    }
}

@media screen and (max-width: 600px) {
    #sales header .content-text h1 {
        font-size: 9.5vw;
    }
}

#sales header .paragraph-text {
    line-height: 1.4em;
    color: #000;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    #sales header div input,
    #sales header div button {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    #sales header div input,
    #sales header div button {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    #sales header div.email-form input {
        width: 56%;
    }
}

#sales header div.email-form button {
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    background: none;
    width: 30%;
    height: auto;
}

#sales header div.email-form button:hover {
    background: #000;
    color: #fff;
}

@media screen and (max-width: 400px) {
    #sales header div.email-form button {
        width: 40%;
    }
}

#sales header div.email-form .disclaimer-text,
#sales header div.email-form .disclaimer-text a {
    color: #000;
    font-size: 11px;
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
    opacity: .7;
}

#sales .signup-form-wrapper h2 {
    max-width: 635px;
    margin: 0 auto 40px;
}

@media screen and (max-width: 500px) {
    #sales .signup-form-wrapper h2 {
        font-size: 9vw;
    }
}

#signin header {
    text-align: center;
}

#signin header svg {
    width: 30%;
    max-width: 150px;
    margin: 50px auto 50px;
}

@media screen and (max-width: 530px) {
    #signin header .large-text {
        font-size: 9vw;
    }
}

#signin header .button {
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    margin: 30px auto 0px;
}

#signin .content-wrapper {
    padding-top: 80px;
    text-align: center;
}

@media screen and (max-width: 530px) {
    #signin .content-wrapper .large-text {
        font-size: 9vw;
    }
}

#signin .content-wrapper p {
    margin: 40px auto 0;
    max-width: 940px;
    font-size: 20px;
}

#signin .signup-form-wrapper {
    position: relative;
}

#signin .signup-form-wrapper::before {
    content: "";
    background: no-repeat url(https://pbiwebprod.blob.core.windows.net/webassets/images/row_bckgrnd_image.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
}

#signin .signup-form-wrapper .large-text {
    line-height: 1;
}

#signin .signup-form-wrapper .default-text {
    margin: 10px auto 0;
    max-width: 300px;
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    #signin .signup-form-wrapper .default-text {
        margin-bottom: 20px;
    }
}

#signin .signup-form-wrapper .email-form {
    margin-top: 20px;
}