<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="apple-mobile-web-app-capable" content="yes">
    <meta charset="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="//pbiwebprod.blob.core.windows.net/webassets/images/favicon.png">



    <!-- Bootstrap imports -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap imports -->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,700,800">



    <link rel="stylesheet" href="../css/contact.css">
    <title>clxxxii</title>



</head>

<body>
    <section class="navigation-wrapper">
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="branding">
                    <a href="/">
                        <img class="logo powerbi" src="https://pbiwebprod.blob.core.windows.net/webassets/images/power_bi_logo_black.svg" alt="PowerBI logo symbol">

                    </a>

                </div>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="menu-item mobile"><a href="/mobile">Apps</a>
                        </li>
                        <li class="menu-item solutions"><a href="/solutions">Company</a>
                        </li>
                        <li class="menu-item pricing"><a href="/pricing">Chat</a>
                        </li>

                        <li class="menu-item"><a href="/" class="menu-btn">Home
          </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <header id="home-header" class="before">
        <div class="slide-up wrapper-yellow"></div>
        <!-- <div class="scroll-tease"></div> -->
        <div class="container clearfix">

            <section class="container header-content-wrapper">
                <div class="row">
                    <div class=" col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-lg-12 content-text ">
                        <h1> Let us help you bring your idea to 
          <span class="trans-headline-text transition-text-start color: white">life</span></h1>
                        <h2>Lose The Quit</h2>

                        <h4>losethequit@gmail.com</h4>
                        <h3>2816853143</h3>
                    </div>



                    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6">
                        <div class="tablet-image-container">

                            <!-- <div id="playButton" class="play-button"></div> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>

    <script src="../js/modernizr.custom.min.js"></script>




</body>

</html>