<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>from-a-stand-point</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0088cb">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lose The Quit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="icon" type="image/png" href="//pbiwebprod.blob.core.windows.net/webassets/images/favicon.png">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>

<body ng-app="mainModule">

    <init></init>

    <mashup></mashup>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/universal/parallax.js"></script>

    <!-- ANGULAR IMPORTS -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/controllers/instagramController.js"></script>
    <script src="../js/directives/instagramDirective.js"></script>
    <script src="../js/services/instagramService.js"></script>
    <!-- ANGULAR IMPORTS -->

</body>

</html>