<style>
    .darkBlue {
        color: #004889;
        transition: all linear 1.00s;
    }
    
    .mediumBlue {
        color: #007db6;
        transition: all linear 1.00s;
    }
    
    .lightBlue {
        color: #009ddc;
        transition: all linear 1.00s;
    }
    
    .darkBlue:hover {
        color: #007db6;
        transition: all linear 1.00s;
    }
    
    .addSomeMargin {
        margin-bottom: 20px;
    }
    
    .dividingLine {
        background-color: #009ddc;
        width: 80%;
        height: 3px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        opacity: .15;
    }
</style>
<div class="navbar-trans">
    <nav class="navbar navbar-global wrap-group">
        <div class="container">

            <a href="/" class="brand page-load">
                <h2 class="the-white-out darkBlue">est. 2005</h2>
            </a>

            <div class="nav-inner darkBlue">
                <ul>
                    <li><a class="page-load" href="polymer/source/skrillexdrumpads.html">Apps</a></li>
                    <li><a class="page-load" href="page/resume.html">Resume</a></li>
                    <!-- <li><a class="page-load" href="http://clxxxii.vm-host.net/clxxxii/indexF.html">Chat</a></li> -->
                    <li><a class="page-load" href="contact.html">Contact</a></li>
                    <li><a class="page-load" href="/views/mashupShell.html">WerkSpayce</a></li>
                    <li><a class="btn-menu toggle-menu" href="#more">More</a></li>
                </ul>
                <a class="btn-menu toggle-menu btn-mobile-menu" href="#more">Menu</a>
            </div>
        </div>
    </nav>
    <!--
THIS IS THE NAV
THIS IS THE NAV
THIS IS THE NAV
    -->
    <nav class="nav-extended" id="more">
        <a class="toggle-menu" href="#">
            <i class="icon icon-modal-close icon-white"></i>
        </a>
        <a class="btn btn-primary" data-toggle="modal" href="/">
            Lose The Quit
        </a>

        <ul class="text-upper menu-defaults">
            <li><a class="page-load" href="/">Home</a></li>
            <li><a class="page-load" href="/platform/">Apps</a></li>
            <li><a class="page-load" href="/company/">Company</a></li>
            <li><a class="page-load" href="/news/">News</a></li>
        </ul>

        <ul class="text-upper">
            <li><a class="page-load" href="/resources/">Resources</a></li>
            <li><a class="page-load" href="/contact/">Contact us</a></li>
            <li><a class="page-load" href="/support/">Support</a></li>
        </ul>

        <ul>
            <li><a class="page-load" href="/terms/">Terms of service</a></li>
            <li><a class="page-load" href="/privacy/">Privacy policy</a></li>
        </ul>

        <ul class="list-inline list-unstyled list-social">
            <li>
                <a title="Twitter" href="https://twitter.com/protectwise" target="_blank">
                    <i class="font-icon font-icon-twitter"></i>
                </a>
            </li>
            <li>
                <a title="Facebook" href="https://www.facebook.com/protectwiseinc?ref=hl" target="_blank">
                    <i class="font-icon font-icon-facebook"></i>
                </a>
            </li>
            <li>
                <a title="Linked In" href="https://www.linkedin.com/company/3087510" target="_blank">
                    <i class="font-icon font-icon-linked-in"></i>
                </a>
            </li>
        </ul>

    </nav>

    <div class="wrap-group full-height level hero hero-home is-fixed anim-parent active-state">
        <!-- todo: add active-state on load? -->
        <div class="container full-height">
            <div class="content-position v-helper full-height text-center">
                <div class="v-center">
                    <div class="v-center-inner">
                        <h1 class="no-margin lead-title cover-heading" style="color: #000">
                                Lose The <span class="trademarked">Quit</span>
                        </h1>
                        <h2 class="addSomeMargin" style="color: #000;">
                                Innovative apps, innovative <span class="trademarked">ideas!</span>  
                        </h2>
                        <br class="visible-xs-inline">
                        <a class="btn btn-primary" href="views/resume.html">view resume</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="front-clouds auto-anim"></div>
    </div>

    <div id="wrap" class="wrap wrap-group full-height clearfix" data-theme="navbar-trans">

        <div class="wrap-inner full-height">

            <div class="level level-120 xs-text-center">
                <!-- <div class="dividingLine"></div> -->
                <div class="container">
                    <div class="content-position text-center muted">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                                <h1 class="text-center subheading-before mb-30"> 
                                    <i class="icon icon-diamond"></i> 
                                  <br>
                           
                                    <small class="subheading opacity-4">"we craft visually
                                        stunning, highly functional and user friendly websites and
                                        mobile apps”
                                    </small> 
                                    <span class="trademarked">OmniMedia</span> 
                                </h1>

                                <p class="font-size-md mb-100 sm-mb-40">LTQ is a full-service design firm focused on solving your company’s business goals through elegant, flawless design. We offer brand management, print design, innovative, highly functional, visually appealing and feature-rich website design, and mobile app development and an irrefutable marketing strategy.</p>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-24">
                        <div class="col-sm-1 col-sm-offset-1">
                            <i class="icon icon-disc icon-bug"></i>
                        </div>
                        <div class="col-sm-4 xs-mb-40">

                            <h2>STRATEGY</h2>
                            <p class="the-black-out">LTQ will always serve up something distinct. We offer a potent combination of unique brand and marketing strategies with a nice splash of street smarts.</p>
                        </div>
                        <div class="col-sm-1">
                            <i class="icon icon-disc icon-binoculars"></i>
                        </div>
                        <div class="col-sm-4 xs-mb-40">
                            <h2>CREATIVE SOLUTIONS</h2>
                            <p class="the-black-out">Our creative juices are always overflowing. Our creative brand advisors stir up innovation with creative artistry, vision, flair and functionality that reflects your image and brand.</p>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-1 col-sm-offset-1">
                            <i class="icon icon-disc icon-silo"></i>
                        </div>
                        <div class="col-sm-4 xs-mb-40">
                            <h2>TECHNOLOGY</h2>
                            <p class="the-black-out">Web and mobile technology is constantly evolving. Our techies are constantly researching and exploring new and innovative ways to develop websites and mobile apps.
                            </p>
                        </div>
                        <div class="col-sm-1">
                            <i class="icon icon-disc icon-island"></i>
                        </div>
                        <div class="col-sm-4 xs-mb-40">
                            <h2>DESIGN</h2>
                            <p class="the-black-out">We don’t just take your order and serve you a website or mobile app, we take the time to get to know you and understand your needs and objectives</p>
                        </div>
                    </div>

                </div>
                <!-- <div class="dividingLine"></div> -->
            </div>


            <div class="level footer">
                <!-- Contact variable? -->
                <div class="container text-center">

                    <h1>We'd like to hear from you. Call us today to schedule an
                            appointment!</h1>

                    <p class="the-black-out">We love long-term relationships with our clients; the more we know about you, the better we can serve you. You can expect nothing but the best customer service and professionalism from our experienced, dedicated team at LoseTheQuit.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="views/contact.html">Click here to find out all the details</a>
                    </p>
                    <p></p>
                    <i class="icon icon-diamond"></i>
                </div>

            </div>

            <div class="colophon">
                <div class="container the-black-out">
                    &copy;2016 LoseTheQuit, Inc. All rights reserved.

                    <nav class="tertiary">
                        <ul>
                            <li><a href="/privacy/">Privacy Policy</a></li>
                            <li><a href="/terms/">Terms of Service</a></li>
                            <!-- 
<li>
<a href="/privacy/#california">Your California Privacy Rights</a>
</li>
                            -->
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <!-- /wrap inner -->
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>

</div>