<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Brendan Carr's Resume</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0088cb">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lose The Quit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="icon" type="image/png" href="/static/img/favicon-FINAL.png">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/resume.css" />

    <style>
        .section.section-showcase .showcase-magrudy {
            height: 700px;
            width: 100%;
            background: url("http://go.medassets.com/rs/099-EMG-811/images/medAssets-showcase.jpg") no-repeat 100% 30%;
            background-size: cover;
        }
        
        @media (max-width: 950px) {
            .h1fontAdjustments {
                font-size: 54px;
            }
            .paragraphAdjustments {
                font-size: 17px;
            }
        }
        
        @media (max-width: 650px) {
            .h1fontAdjustments {
                font-size: 74px;
            }
            .paragraphAdjustments {
                font-size: 17px;
            }
        }
        
        @media (max-width: 450px) {
            .h1fontAdjustments {
                font-size: 44px;
            }
            .paragraphAdjustments {
                font-size: 17px;
            }
        }
        
        @media (max-width: 800px) {
            .h1fontAdjustments {
                font-size: 44px;
            }
            .paragraphAdjustments {
                font-size: 17px;
            }
            .section.section-showcase .showcase-magrudy {
                height: 700px;
                width: 100%;
                background: url("http://go.medassets.com/rs/099-EMG-811/images/medAssets-showcase.jpg") no-repeat 40% 30%;
                background-size: cover;
            }
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background: #fff"></span>
                    <span class="icon-bar" style="background: #fff"></span>
                    <span class="icon-bar" style="background: #fff"></span>
                </button>
                <a class="navbar-brand" href="../">
                    <img class="navbar-logo" alt="Lose The Quit" src="../img/navbar-logo.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="top-menu-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="#showcase">Work experience</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="section section-hero">
        <div class="outer">
            <div class="inner"></div>
            <div class="section section-resume"></div>

            <!--  <br class="visible-xs-inline section section-resume">
<a class="btn btn-primary" href="contact.html">contact us</a> -->

            <div class="container">
                <div class="row"></div>
            </div>

        </div>
    </div>

    <div class="section section-highlights">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">

                    <div class="qualification-margin">
                        <h1>
                    <span class="h1fontAdjustments">Summary of Qualifications</span> 
                </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>
                    <span>#profile</span>
                    </h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="oitnb paragraphAdjustments">
                        <p>A passionate, articulate and committed Software Engineer who can think “outside the box”. Proficient in design and integration problem solving skills with a get-it-done, on- time spirit. More than two years of experience implementing and adapting technically sophisticated mobile applications using Apple Technologies, C++, Java and much more. Extensive background in UI design patterns, language standards, object modeling technologies and Application Life Cycle management.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-showcase" id="showcase">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="h1fontAdjustments">   
                            <span>Work &nbsp;Experience</span> 
                        </h1>
                    </div>
                </div>
                <div class="row custom-padding">
                    <h2> 
                        <span>#beentheredonethat</span>    
                    </h2>
                </div>
            </div>
        </div>

        <div class="section-header">
            <div class="box showcase-magrudy" tabindex="0">
                <div class="container">
                    <div class="col-sm-12 columns"> </div>
                </div>
                <div class="info">
                    <h4>MedAssets</h4>
                    <dl>
                        <dt>Scope:</dt>
                        <dd>Front-End Web Developer (CrownPeak + Marketo), design, branding</dd>
                        <dt>Location:</dt>
                        <dd>Atlanta, GA</dd>
                        <dt>Time:</dt>
                        <dd>August 2015 - Present</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="clearfix">

            <div class="half box showcase-mindsteps" tabindex="0">

                <div class="info">

                    <h4>clxxxii</h4>
                    <dl>
                        <dt>Scope:</dt>
                        <dd>Software Developer</dd>
                        <dt>Location:</dt>
                        <dd>Atlanta, GA</dd>
                        <dt>Time:</dt>
                        <dd>October 2012 - Present</dd>
                    </dl>
                </div>
            </div>
            <div class="half">
                <div class="clearfix">
                    <div class="half box showcase-shirts" tabindex="0">

                        <div class="info">
                            <h4>B &amp; D Holding</h4>
                            <dl>
                                <dt>Scope:</dt>
                                <dd>Apartment Locator</dd>
                                <dt>Location:</dt>
                                <dd>Houston, TX</dd>
                                <dt>Time:</dt>
                                <dd>January 2012 - April 2012</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="half box showcase-phone" tabindex="0">
                        <div class="info">
                            <h4>Baker Jackson Nissan</h4>
                            <dl>
                                <dt>Scope:</dt>
                                <dd>Internet Sales Manager</dd>
                                <dt>Location:</dt>
                                <dd>Houston, TX</dd>
                                <dt>Time:</dt>
                                <dd>March 2009 - July 2009</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="box showcase-overvio" tabindex="0">
                        <div class="info">
                            <h4>AT&amp;T</h4>
                            <dl>
                                <dt>Scope:</dt>
                                <dd>Retail Sales Consultant</dd>
                                <dt>Location:</dt>
                                <dd>Houston, TX</dd>
                                <dt>Time:</dt>
                                <dd>April 2007 - February 2009</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact" id="contact">
        <div class="container">
            <div class="row">

                <h1 class="h1fontAdjustments">Have any &nbsp;questions?</h1>
                <div class="row">
                    <div class="section section-hightlights" id="contact">
                        <h2 class="section section-hightlights">
                                <span>#hmu</span>
                            </h2>
                    </div>
                </div>

                <p>
                    <img class="contact-icon" src="../img/contact.png" alt="Contact Me" />
                </p>

                <div class="container"></div>

                <div class="row"></div>
                <div class="col-xs-12">
                    <h3>Brendan Carr</h3>
                    <h4>281-685-3143</h4>
                    <a href="mailto:losethequit@gmail.com"><h5>losethequit@gmail.com</h5></a>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="../img/cp.jpg" data-natural-width="2560" data-natural-height="1393" data-position="center" ios-Fix="false" androidFix="false" bleed="30">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="oitnb-with-padding">
                        <h2><span>Tools I Use</span></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p align="center">
                        <img class="img-responsive" align="center" width="200" height="200" title="Java" src="../img/icon_java.png">
                    </p>
                </div>

                <div class="col-md-4 ">
                    <p align="center">
                        <img class="img-responsive" align="center" width="200" height="200" title="Polymer" src="../img/icon_polymer.png">
                    </p>
                </div>

                <div class="col-md-4 ">
                    <p align="center">
                        <img class="img-responsive" align="center" width="200" height="200" title="JQuery" src="../img/icon_jq.png">
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">

                    <p align="center">
                        <img class="img-responsive" align="center" width="200" height="200" title="CSS3" src="../img/icon_css3.png">
                    </p>
                </div>

                <div class="col-md-4">
                    <p align="center">
                        <img class="img-responsive" align="center" width="200" height="200" title="HTML5" src="../img/icon_html5.png">
                    </p>

                </div>

                <div class="col-md-4">
                    <p align="center">
                        <img class="img-responsive" align="center" width="200" height="200" title="Javascript" src="../img/icon_js.png">
                    </p>
                </div>

            </div>
        </div>
    </div>

    <footer class="section section-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 columns">
                    <h2>Follow me</h2>
                    <p>See what I've up to by following me on social&nbsp;media:</p>
                    <ul>
                        <li>
                            <a href="http://twitter.com/losethequit"><img class="img-responsive" title="Twitter" src="../img/social-twitter.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/TheAppCorps"><img class="img-responsive" title="Google+" src="../img/facebook.ico">
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com"><img class="img-responsive" title="Google+" src="../img/social-gplus.png">
                            </a>
                        </li>
                    </ul>
                    <a href="http://losethequit.com/">
                        <p>Copyright ⓒ 2015 LoseTheQuit Software</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/modernizr.custom.min.js"></script>
    <script src="../js/parallax.min.js"></script>
    <!-- <script src="../js/resume.js"></script> -->
</body>

</html>