<style>
    .inputBox {
        width: 50%;
        height: 40px;
        color: #000;
        padding: 10px;
        border: solid 1px rgba(0, 0, 0, .25);
        box-shadow: inset 0 0 0 1px #707070;
        transition: box-shadow 0.3s, border 0.3s;
        margin-bottom: 10px;
        vertical-align: middle;
        /* margin: 0 auto; */
        /* margin-top: 120px; */
        display: inline;
        /* float: right; */
    }
    
    .inputBox:focus,
    .inputBox input[type="text"].focus {
        border: solid 1px rgba(0, 0, 0, .50);
    }
    
    .affix-top,
    .affix {
        position: static;
    }
    
    .sidebar {
        background: rgba(0, 0, 0, .5);
        border: 1px solid #fff;
        width: 100%;
        height: 90%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
        transition: all linear .25s;
    }
    
    .sidebar:hover {
        transition: all linear .75s;
        box-shadow: 0 7px 1px rgba(0, 0, 0, .25);
    }
    
    @media (min-width: 990px) {
        .sidebar.affix-top {
            position: static;
            /*   margin-top: 30px;  */
            width: 228px;
        }
        .sidebar.affix {
            position: fixed;
            top: 5%;
            width: 228px;
        }
    }
    
    @media (max-width: 1200px) {
        .sidebar.affix-top {
            position: relative;
            margin-top: 30px;
            width: 100%;
        }
        .sidebar.affix {
            position: relative;
            top: 5%;
            width: 100%;
            margin-top: 50px;
        }
    }
    
    .beaker {
        width: 100%;
        height: 100%;
    }
    
    .displayFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .socialIconSideBar {
        width: 15%;
        margin: 15px;
        /* margin-top: 120px; */
    }
    
    .sideBarGhostButton {
        width: 80%;
        height: 100%;
        cursor: pointer;
        line-height: 50px;
        display: block;
        margin-bottom: 25px;
        margin-top: 25px;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        background: rgba(0, 0, 0, .5);
    }
    
    .sideBarGhostButton:hover {
        text-decoration: none;
        color: #fff;
        transition: all linear .50s;
        background: rgba(0, 0, 0, .5);
    }
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /*--***** DROPDOWN STYLES *****--*/
    /* Dropdown Button */
    
    .custom-dropdown {
        background-color: #192f42;
        color: #ffffff;
        border-radius: 0;
        min-height: auto;
        /*        */
        width: 80%;
        height: 50px;
        cursor: pointer;
        line-height: 50px;
        display: block;
        margin-bottom: 25px;
        margin-top: 25px;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        background: rgba(0, 0, 0, .5);
    }
    
    .custom-dropdown a {
        color: rgba(255, 255, 255, .95);
    }
    
    .custom-dropdown > li > a {
        color: #fff;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .custom-dropdown > .active > a,
    .custom-dropdown > .active > a:hover,
    .custom-dropdown > .active > a:focus {
        color: #ffffff;
        background-color: red;
    }
    
    .custom-dropdown a:hover,
    .custom-dropdown a:focus {
        text-decoration: none;
    }
    
    .custom-dropdown .navbar-toggle,
    .custom-dropdown .open>a,
    .custom-dropdown .open>a:hover,
    .custom-dropdown .open>a:focus {
        color: rgba(255, 255, 255, .95);
        background-color: transparent;
        text-decoration: none;
    }
    
    .custom-dropdown .icon-bar {
        border: 1px solid #fff;
    }
    /*-- change navbar dropdown color --*/
    
    .custom-dropdown .open .dropdown-menu>li>a,
    .custom-dropdown .open .dropdown-menu {
        color: #428bca;
    }
</style>

<div class="container" ng-hide="!hideThisDiv">
    <div class="row">
        <div id="leftCol">
            <ul class="nav nav-stacked sidebar" id="sidebar">
                <div class="beaker displayFlex">

                    <center>

                        <img class="socialIconSideBar" src="../img/svg/search.svg">
                        <input class="inputBox" type="text" placeholder="#search" ng-model="inputSearchTweetsAndInstagramQuery" ng-change="getIgandTwitterApiData()">

                    </center>


                    <center>
                        <div class="custom-dropdown">

                            <div class="dropdown">
                                <img class="socialIconSideBar" src="../img/svg/twitter.svg">
                                <a class="dropdown-toggle" id="drop1" data-toggle="dropdown" href="#" role="button">
                                    <span>Twitter V2</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li>{{data}}</li>
                                    <li role="presentation">
                                        <a ng-href={{data}} role="menuitem">hashtag</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </center>


                    <!--
                    <center>
                        <a class="sideBarGhostButton" ng-href="/views/werkspayce.html/spotify-login">
                            <center>
                                spotify login
                            </center>
                        </a>
                    </center>
                    -->
                </div>
            </ul>
        </div>
    </div>
</div>

<script>
    $(function () {

        var stickyLine = document.querySelector('.stickyLine');
        var stickyLinePosition = stickyLine.getBoundingClientRect().top;

        // console.log(stickyLinePosition)

        $('.sidebar').affix({
            offset: {
                top: -10
            }
        });

        var $body = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $body.scrollspy({
            target: '#leftCol',
            offset: navHeight
        });

        var instaCardWidth = $('.igCard').width();
        var tweetCardWidth = $('.cardImage').width();

        function sidebarResize() {

            instaCardWidth = $('.igCard').width();
            tweetCardWidth = $('.cardImage').width();


            if ($('.tweetCardShell').css('padding-right') !== undefined) {

                var tweetCardShellPaddingRight = parseInt($('.tweetCardShell').css('padding-right').replace('px', '')) || null;
                var tweetCardShellPaddingLeft = parseInt($('.tweetCardShell').css('padding-left').replace('px', '')) || null;
            }

            var tweetCardShellPaddingRight = parseInt($('.tweetCardShell').css('padding-right').replace('px', '')) || null;
            var tweetCardShellPaddingLeft = parseInt($('.tweetCardShell').css('padding-left').replace('px', '')) || null;


            if (($(window).width() + 17) > 1200) {

                $('.sidebar').css('position', 'fixed');

                if (tweetCardWidth <= 101)
                    $('.sidebar').css('width', 300 - 75);
                else
                    $('.sidebar').css('width', tweetCardWidth - ((tweetCardShellPaddingRight + tweetCardShellPaddingLeft) * 2));

            } else {

                $('.sidebar').css('position', 'relative');
                $('.sidebar').css('width', '100%');

            }

            console.log('\n');
            console.log('WINDA: ' + ($(window).width() + 17));
            console.log('INSTA: ' + instaCardWidth);
            console.log('TWEET: ' + tweetCardWidth);
            console.log('SIDEBAR: ' + $('.sidebar').width());
            console.log('THE DIFF: ' + (tweetCardWidth - instaCardWidth));
            console.log('tweetCardShellMARGIN: ' + (tweetCardShellPaddingRight + tweetCardShellPaddingLeft));
            console.log('\n');

        }

        // setInterval(function () {
        //     sidebarResize();
        // }, 500);

        setTimeout(function () {
            sidebarResize();
        }, 1000);

        $(window).resize(function () {

            sidebarResize();

        });
        $("ul li a").click(function () {
            $(this).parent().next().toggle("fast");
        });

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    });
</script>