<style>
    .tweetCard {
        min-height: 305px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        color: #fff;
        height: 100%;
        width: 100%;
        border: 1px solid #fff;
        background-size: cover;
        background: rgba(0, 0, 0, .5);
    }
    
    .tweetCardSpacer {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }
</style>

<div class="bodyWrapper">

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <h3>Twitter:</h3>
        </div>
    </div>
    <div class="theWhiteLine"></div>
    <div class="clearFloat"></div>

    <div class="row">
        <div class="col-md-6 col-xs-12" ng-repeat="tweet in twitterData.data">
            <div class="tweetCard addSomeMarginBottom">
                <div class="cardImage" style="background: url(&quot;{{tweet.user.profile_background_image_url}}&quot;); background-size: cover;">
                    <!-- cardImage-->
                    <div class="cardImageOverLay add20pxPadding">

                        <p>USER DATA</p>

                        <div class="tweetCardSpacer"></div>
                        <div class="igCardHeaderMargin"></div>

                        <p class="screenName">{{tweet.user.name}}</p>
                        <p>{{tweet.user.location}}</p>
                        <p>favourites_count: {{tweet.user.favourites_count}}</p>
                        <!-- <p>description: {{tweet.user.description}}</p> -->
                        <p>friends_count: {{tweet.user.friends_count}}</p>
                        <p>follcowers_count: {{tweet.user.followers_count}}</p>
                        <p>Tweets: {{tweet.user.statuses_count}}</p>
                        <p>{{data.text}}</p>
                        <p>Retweet count: {{tweet.retweet_count}}</p>
                        <p>{{tweet.created_at}}</p>
                        <a class="cardLink" href="{{tweets.user.url}">{{tweet.user.url}}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-xs-12" ng-repeat="tweet in twitterData.statuses">
            <div class="tweetCard addSomeMarginBottom">
                <div class="cardImage" style="background: url(&quot;{{tweet.user.profile_background_image_url}}&quot;); background-size: cover;">
                    <!--                    cardImage-->
                    <div class="cardImageOverLay add20pxPadding">
                        <p>TAG SEARCH</p>

                        <!--                        <p ng-bind-html='{{tweet | linky}}'>{{tweet}}</p>-->

                        <div class="tweetCardSpacer"></div>
                        <div class="igCardHeaderMargin"></div>

                        <div class="col-xs-3 col-md-4 col-lg-4">
                            <!-- <img class="injectedImage" ng-src="{{data.user.profile_image_url}}"> -->
                        </div>
                        <div class="col-xs-9 col-md-8 col-lg-8">
                            <!-- <p class="screenName">{{data.user.username}}</p> -->
                        </div>

                        <p class="screenName">{{tweet.user.name}}</p>
                        <p>{{tweet.user.location}}</p>

                        <!-- <p>{{tweet.user.description}}</p> -->
                        <p>favourites_count: {{tweet.user.favourites_count}}</p>
                        <p>friends_count: {{tweet.user.friends_count}}</p>
                        <p>follcowers_count: {{tweet.user.followers_count}}</p>
                        <p>Tweets: {{tweet.user.statuses_count}}</p>
                        <p>{{tweet.text}}</p>
                        <p>Retweet count: {{tweet.retweet_count}}</p>
                        <p>{{tweet.created_at}}</p>
                        <a class="cardLink" ng-href="{{tweets.user.url}" target="_blank">{{tweet.user.url}}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>