<style>
    .tweetCardSpacer {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }
    
    .tweetCard {
        min-height: 305px;
        background: #fff;
        padding: 0px;
        height: 100%;
        text-shadow: 0 10px 30px rgba(0, 0, 0, .25);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
        background: rgba(0, 0, 0, .5);
        border: 1px solid #fff;
        color: #fff;
        transition: all linear .25s;
    }
    
    .tweetCard:hover {
        transition: all linear .75;
        box-shadow: 0 7px 1px rgba(0, 0, 0, .25);
    }
</style>

<div class="bodyWrapper" ng-hide="!hideThisDiv">

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <h3>Twitter:</h3>
        </div>
    </div>
    <div class="theWhiteLine"></div>
    <div class="clearFloat"></div>

    <div class="row">

        <div class="col-md-6 col-xs-12 tweetCardShell" ng-repeat="tweet in twitterData.data">
            <div class="tweetCard addSomeMarginBottom">
                <div class="cardImage" style="background: url(&quot;{{tweet.user.profile_background_image_url}}&quot;); background-size: cover;">
                    <!-- cardImage-->
                    <div class="cardImageOverLay add20pxPadding">

                        <p>USER DATA</p>
                        <!-- <div ng-bind-html="inputText | linky"></div>-->
                        <div class="tweetCardSpacer"></div>
                        <div class="igCardHeaderMargin"></div>

                        <p class="screenName">{{tweet.user.name}}</p>
                        <p>{{tweet.user.location}}</p>
                        <p>favourites_count: {{tweet.user.favourites_count}}</p>
                        <!-- <p>description: {{tweet.user.description}}</p> -->
                        <p>friends_count: {{tweet.user.friends_count}}</p>
                        <p>follcowers_count: {{tweet.user.followers_count}}</p>
                        <p>Tweets: {{tweet.user.statuses_count}}</p>
                        <p>{{data.text}}</p>
                        <p>Retweet count: {{tweet.retweet_count}}</p>
                        <p>{{tweet.created_at}}</p>
                        <a class="cardLink" ng-href={{tweet.user.url}} target="_blank">{{tweet.user.url}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>